//- extendStay
mixin extendStay(ga) 
    #extendStay.modal 
        .modal-content.text-dark
            form(action='' method='POST' id='extendStayForm') 
                .modal-header
                    h5.text-center Extend Stay
                    button.btn-close(type='button' onclick='closeExtendStay()' aria-label='Close')
                .modal-body
                    .row
                        .col-4 
                            p.fw-bold Account ID
                            p.fw-bold Account Name
                            p.fw-bold Room Number
                            p.fw-bold Room Type
                            p.fw-bold Extension (Per Day)
                        .col-8
                            p.fw-normal#accountidSpan
                            p.fw-normal#fullnameSpan
                            p.fw-normal#roomnumSpan
                            p.fw-normal#roomtypeSpan
                            p.fw-normal#extensionSpan
                    .mt-4
                        input(type="hidden" id="price" name="price")
                        input(type="hidden" id="roomid" name="roomid")
                        input(type="hidden" id="folioid" name="folioid")
                        label.form-label.fw-bold Number of Days
                        input.form-control(
                            type="number" 
                            id="daysno" 
                            name="daysno" 
                            onkeyup="updateCost(this)"
                        )
                    .mt-2
                        label.form-label.fw-bold Cost
                        input.form-control(
                            type="number" 
                            id="cost" 
                            name="cost"
                            readonly
                        )
                    script.
                        function updateCost(clickedElement){
                            //- get rate_perhour and daysno
                            const price = clickedElement.getAttribute('data-price')
                            const daysno = clickedElement.value

                            //- calculation
                            const cost = price * daysno
                            const costFinal = cost.toFixed(2)

                            //- assign cost
                            document.getElementById('cost').value = costFinal
                        }
                .modal-footer
                    button.btn.mod_btn_sec(type='button' onclick='closeExtendStay()') Cancel
                    input.btn.mod_btn(type='submit' value='Submit')


//- Card Payment
mixin cardpayment 
    #modal_CardPayment.modal  
        .modal-content
            .modal-header
                h5 Approval Code
                button.btn-close(type='button' onclick='closeModal_CardPayment()' aria-label='Close')
            .modal-body.mb-3

                //- form
                form(id="approvalCodeForm", action=`/ga/cardpayment/${ga.accountid}`, method="POST")

                    //- hidden inputs
                    input(type="hidden" id="subtotal2" name="subtotal2")
                    input(type="hidden" id="totalamount2" name="totalamount2")
                    input(type="hidden" id="paidtodate2" name="paidtodate2")
                    input(type="hidden" id="balance2" name="balance2")
                    input.form-control(type="text", id="approvalcode", name="approvalcode", required)

                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer.mt-3
                        button.btn.mod_btn_sec(type="button", onclick="closeModal_CardPayment()") Cancel
                        input.btn.mod_btn(type="submit", value="Submit")
                
                script.
                    document.getElementById('approvalCodeForm').addEventListener('submit', ()=>{
                        console.log('hey')

                         setTimeout(function(){
                            location.reload()
                        }, 3000)
                    })


//- Cash Payment
mixin cashpayment
    #modal_CashPayment.modal
        .modal-content
            .modal-header
                h5 Cash Payment
                button.btn-close(type='button' onclick='closeModal_CashPayment()' aria-label='Close')
            .modal-body
                //- form
                form(id="cashPaymentForm", action=`/ga/cashpayment/${ga.accountid}`, method="POST")

                    //- hidden input
                    input(type="hidden" id="subtotal3" name="subtotal3")
                    input(type="hidden" id="totalamount3" name="totalamount3")
                    input(type="hidden" id="paidtodate3" name="paidtodate3")
                    input(type="hidden" id="balance3" name="balance3")

                    p.mb-3 | This is a Cash payment Method
                    .form-check.mt-3
                        input.form-check-input#confirm-checkbox(type="checkbox")
                        label.form-check-label(for="confirm-checkbox") I Agree
                    
                    .modal-footer.mt-3.modalcash
                        .ms
                            button.btn.mod_btn_sec.me-3(type="button", onclick="closeModal_CashPayment()") Cancel
                            input.btn.mod_btn(type="submit", value="Proceed")
                        p.err.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before Proceeding.

                script.
                    document.addEventListener("DOMContentLoaded", (event) => {
                        const form = document.getElementById('cashPaymentForm')

                        if (form) {
                            form.addEventListener('submit', (e)=>{
                                e.preventDefault()

                                var checkbox = document.getElementById('confirm-checkbox')
                                var errorMessage = document.getElementById('checkbox-error-message')

                                if (checkbox.checked) {
                                    errorMessage.style.display = 'none'

                                    // form.submit()
                                    form.submit()

                                    setTimeout(function(){
                                        location.reload()
                                    }, 3000)
                                } 
                                else {
                                    e.preventDefault()
                                        
                                    errorMessage.style.display = 'block'
                                }
                            })
                        }
                    })