//- #{hotelColor.background}
//- #{hotelColor.accent}
//- #{hotelColor.secondary}
//- #{hotelColor.main}

style.
    .bg{
        background-color: #{hotelColor.secondary}
    }
    body{
        background-color: #{hotelColor.background}
    }
    .rr{
        padding-right:100px;
            }

    #navbar-wrapper {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff; 
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    }

    .sidebar {
    background-color: #{hotelColor.main};
    padding-top: 20px;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    }

    .sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
    }

    .sidebar-logo img {
    width: 100px; /* Adjust the logo's width as needed */
    height: auto;
    }

    .nav-item {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 15px 0;
    }


    .nav-item:hover {
    border-radius: 5px;
    color: #{hotelColor.accent};
    }

    .nav-item span {
    font-size: 14px;
    padding-left:20px;
    }

    .nav-item a {
    color: #fff; /* Set the default text color to white */
    text-decoration: none; /* Remove underlines from links */
    }

    .nav-item:hover a {
    color: #{hotelColor.accent};
    }
    

    .fas {
    margin-left: 10px;
    width: 21px;
    }

    .separator {
    background-color: #fff ;
    height: 2px;
    margin: 15px 0;
    }

    .sign-out-sticky {
    position: absolute;
    bottom: 0;
    }

    .sidebar .nav-link {
    text-decoration: none;
    border-color: transparent;
    color: white;
    background: none;
    text-align: left;
    padding-left: 25px;
    }

    .sidebar .nav-link:hover {
    color: #{hotelColor.accent};
    }

    .upper {
    margin-left: 250px;
    height: 80px;
    }

    .content {
    margin-left: 250px;
    margin-top: 80px;
    padding: 20px;
    }

    .nav-item.active {
    background-color: #fff;
    color: #{hotelColor.accent};
    font-weight: 600;
    margin-left:15px;
    margin-right:15px;
    border-radius: 5px;

    }

    .active .nav-link {
    color: #{hotelColor.accent};
    }


    .nav-roomlink {
    text-decoration: none;
    border-color: transparent;
    background: none;
    width: 210px;
    text-align: left;
    color: #{hotelColor.accent};
    }
    .nav-roomlink:hover{
    background-color: #{hotelColor.accent};
    color: #fff;
    border-radius: 5px;
    padding: .5rem;
    }

    .nav_room.active {
    background-color: #{hotelColor.accent};
    font-weight: 600;
    border-radius: 5px;
    }
    .active .nav-roomlink {
    color: #fff;
    }
    .profile{
    background-color: #{hotelColor.secondary};    
    }

    .mod_btn{
        background-color: #{hotelColor.main};
        border-color: transparent;
    }
    .mod_btn:hover{
        background-color: #{hotelColor.accent};
        border-color: transparent;
    }
    .mod_btn_sec{
        background-color: white;
        color: #333;
        border-radius:5px;
        border-color:#{hotelColor.main};
    }
    .mod_btn_sec:hover{
        background-color:#{hotelColor.secondary}; 
        border-color:#{hotelColor.secondary};
    }
    .table {
        --bs-table-striped-bg: #{hotelColor.background};
        /*--bs-table-active-bg: #{hotelColor.background};
        --bs-table-hover-bg: #{hotelColor.background};*/
    }
    .room_box h5{
        border-radius:10px;
    }

    .accordion-collapse {
        display: none; /* Hide the accordion content initially */
    }
    
    .accordion-collapse.show {
        display: block; /* Show the accordion content when toggled */
    }
    
    /* Style for the nested links to make them appear indented and below the accordion header */
    .nav.flex-column .nav-item {
        display: block; /* Override any flex styling that might be affecting the layout */
    }
    .accordion-toggle.accordion-active {
        color: #{hotelColor.accent};
    }
    .accordion .nav-link{
        font-size:14px;
    }
    .accordion .nav-item{
        margin-top:0;
        padding-left: 30px;
    }
    .fa-caret-down {
        transform: translateY(-100%);
    }

    .nav-scroll{
        height: calc(780px - 90px); 
        overflow-y: auto; 
    }
    .nav-scroll::-webkit-scrollbar {
        width: 5px; /* Set the width of the scrollbar */
        
    }

    .nav-scroll::-webkit-scrollbar-thumb {
        background-color: #{hotelColor.accent}; /* Set the color of the thumb */
    }

    @media (max-height: 800px) {
    .nav-scroll{
        height: calc(700px - 160px); 
        overflow-y: auto; 
    }
    }

    /* Dashboard */
    .card{
        background: white; 
        border:none;
        border-radius: 10px;
    }
    .card1{
        width: 350px; 
        color:000;
        padding:8px;
    }
    .custom-hover-shadow {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.5s ease-in-out;
    }

    .custom-hover-shadow:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    .custom-hover-shadow:not(:hover) {
        transition: box-shadow 0.5s ease-in-out; 
    }
    .card-titles{
        font-size: 14px;
        font-weight:400;
    }
    .body-info{
        padding-top:10px;
    }
    .body-info h2{
        margin-bottom:0;
    }
    .icon-container{
        display: inline-block;
        padding: 5px;
        padding-left:8px;
        text-align: center;
        width: 60px; 
        height: 60px;
        text-decoration: none; 
        border-radius: 5px;
        margin-right: 30px;
        margin-left: 5px;
        background:#{hotelColor.secondary};
        color:#{hotelColor.main};
        transition: background-color 0.5s ease;
    }
    .card1:hover .icon-container {
        background:#{hotelColor.main};
        color:#fff;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        font-size:16px;
    }
    .table-scroll{
        overflow-y: auto; /* Add this line to enable vertical scrolling */
        max-height: 230px; /* Set a higher fixed height for the table */
        width: 100%;
        font-size:16px;
    }

    th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    }

    th {
    background-color: #fff;
    color:#{hotelColor.accent};
    font-weight:700;
    font-size:18px;
    }

    tr:hover {
    background-color: #f5f5f5;
    }
    .table-scroll table thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* You can adjust the background color as needed */
    z-index: 1;
    }
    .table-scroll::-webkit-scrollbar {
        width: 5px; /* Set the width of the scrollbar */
    }
    .table-scroll::-webkit-scrollbar-thumb {
        background-color: #{hotelColor.accent}; /* Set the color of the thumb */
    }

    

