//- #{hotelColor.background}
//- #{hotelColor.accent}
//- #{hotelColor.secondary}
//- #{hotelColor.main}

style.
    body{
        background-color: #{hotelColor.background}
    }

    #navbar-wrapper {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff; 
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
    }

    .sidebar {
    background-color: #{hotelColor.main};
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    }

    .sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
    }

    .sidebar-logo img {
    width: 100px; /* Adjust the logo's width as needed */
    height: auto;
    }

    .nav-item {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 15px 0;
    }

    .nav-item i {
    margin-right: 20px;
    }

    .nav-item:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #{hotelColor.accent};
    }

    .nav-item span {
    font-size: 12px;
    }

    .nav-item a {
    color: #fff; /* Set the default text color to white */
    text-decoration: none; /* Remove underlines from links */
    }

    .nav-item:hover a {
    color: #{hotelColor.accent};
    }

    .fas {
    margin-left: 10px;
    width: 21px;
    }

    .separator {
    background-color: #fff ;
    height: 2px;
    margin: 15px 0;
    }

    .sign-out-sticky {
    position: absolute;
    bottom: 0;
    }

    .sidebar .nav-link {
    text-decoration: none;
    border-color: transparent;
    color: white;
    background: none;
    width: 210px;
    text-align: left;
    }

    .sidebar .nav-link:hover {
    color: #{hotelColor.accent};
    }

    .upper {
    margin-left: 250px;
    height: 80px;
    }

    .content {
    margin-left: 250px;
    margin-top: 80px;
    padding: 20px;
    }

    .nav-item.active {
    background-color: #fff;
    color: #{hotelColor.accent};
    font-weight: 600;
    border-radius: 5px;
    }

    .active .nav-link {
    color: #{hotelColor.accent};
    }


    .nav-roomlink {
    text-decoration: none;
    border-color: transparent;
    background: none;
    width: 210px;
    text-align: left;
    color: #{hotelColor.accent};
    }
    .nav-roomlink:hover{
    background-color: #{hotelColor.accent};
    color: #fff;
    border-radius: 5px;
    padding: .5rem;
    }

    .nav_room.active {
    background-color: #{hotelColor.accent};
    font-weight: 600;
    border-radius: 5px;
    }
    .active .nav-roomlink {
    color: #fff;
    }
    .profile{
    background-color: #{hotelColor.secondary};    
    }

    .table {
        --bs-table-striped-bg: #{hotelColor.background};
        /*--bs-table-active-bg: #{hotelColor.background};
        --bs-table-hover-bg: #{hotelColor.background};*/
    }

