doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/modal.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    title Hotels
  body
    include ../partials/navSA.pug
    
    hr
    button
      a(href="/hotels/addhotel") Add hotel
    
    //- button(onclick="openModal()") Add hotel

    hr
    h1 Hotels

    each h in allHotelsArray
      //- card
      hr
      h2 #{h.hotelname}

      if h.hotellocation
        p Location: 
          span #{h.hotellocation}
      if h.hotelcontact
        p Contact Number: 
          span #{h.hotelcontact}
      if h.hotelemail
        p Email: 
          span #{h.hotelemail}
      
      form(action=`/hotels/delete/${h.hotelid}`, method="POST")
        input(type="hidden", name="_method", value="DELETE")
        button(type="submit") Delete
      //- card end
      
    include ../mixins/modals.pug
    +addhotel

    include ../partials/logoutSA.pug
    
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    //- this is not working yet
    script(src='/js/modals.js') 