doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        //- bootstrap
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')

        //- jquery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js' integrity='sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==' crossorigin='anonymous' referrerpolicy='no-referrer')

        //- custom css
        link(rel='stylesheet', href='/css/font.css')
        link(rel='stylesheet', href='/css/navigation.css')
        link(rel='stylesheet', href='/css/modal.css')
        link(rel='stylesheet', href='/css/table.css')

        //- title
        title Guest Accounts

        //- sa head lagi nakalagay ang color.pug
        include ../../partials/color.pug
    //-body
    body
        //- sidenav
        include ../../partials/navR.pug

        //- main content
        .content
            //- page title
            .row.mx-5
                .col-8.d-flex.align-items-center
                    h2.text #{ga.fullname} - Room #{ga.roomnum}
                .col-4.d-flex.align-items-center.justify-content-end
                    a.btn(href="/ga/new") Register a Guest Account

                //- modulenav
                include ../../partials/navRga.pug

                .container.shadow.mt-3.p-0.bg-white
                    .px-5.py-3.mb-3.bg
                        h4.m-0 Room Status
                    .px-5.py-2
                        .d-flex.justify-content-center
                            .row 
                                p Room #{ga.roomnum}
                            .row 
                                p #{ga.status}
                        if ga.status === "Occupied"
                            p.text-center This room is currently occupied by the guest.<br>Alert housekeeping. Change room status when guest checks out.
                        if ga.status === "To check-out"
                            p.text-center This room is currently ready for inspection.<br>Housekeeping will handle this. Wait for room status to change to “Inspected”.
                        if ga.status === "Inspected" && ga.settled === false
                            p.text-center This room is already inspected.<br>Process the payment then change the room status to “Recently check-out”
                        if ga.settled === true && ga.status != "Recently checked-out"
                            p.text-center This account is already settled.<br>Change the room status to "Recently checked-out"
                        if ga.status === "Recently checked-out"
                            p.text-center This account is already checked-out.<br>Print or download the invoice

                        if ga.status === "Occupied"
                            form(action=`/ga/tco/${ga.accountid}` method="POST").text-center
                                input(type="submit" value="Change") 
                        if ga.status === "Inspected" && ga.settled === false
                            form(action=`/ga/folio/${ga.accountid}`).text-center
                                input(type="submit" value="Folio")
                        if ga.settled === true && ga.status != "Recently checked-out"
                            form(action=`/ga/rco/${ga.accountid}` method="POST").text-center
                                input(type="submit" value="Change")
                        if ga.status === "Recently checked-out"
                            form(action=`/ga/folio/${ga.accountid}`).text-center
                                    input(type="submit" value="Folio")

    //-Bootstrap Js
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    //-FontAwesome
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    //-Customize JS
    script(src='/js/nav-active.js')    