    doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        //- bootstrap
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')

        //- jquery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js' integrity='sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==' crossorigin='anonymous' referrerpolicy='no-referrer')

        //- custom css
        link(rel='stylesheet', href='/css/font.css')
        link(rel='stylesheet', href='/css/modal.css')
        link(rel='stylesheet', href='/css/table.css')

        //- title
        title Info

        //- sa head lagi nakalagay ang color.pug
        include ../../partials/color.pug
    //-body
    body
        //- sidenav
        include ../../partials/navR.pug

        //- main content
        .content
            .row.mx-5 
                .col-12.col-md-12.col-lg-4
                    .container.shadow.mt-3.p-0.bg-white.rounded
                        .px-5.py-3.mb-3.bg.rounded-top
                            p.text-center.fs-1
                                if ga.fullname
                                    span #{ga.fullname}
                            h6.text-center
                                p (Guest)  
                            .row
                                h5.text-center
                                    if ga.roomtype
                                        span #{ga.roomtype} -
                                    if ga.roomnum

                                        span Room #{ga.roomnum}                                       
                        .px-5.py-3
                            h4.m-0.mb-3 Guest Details
                            .row.mb-3 
                                .col-md-5.fw-bold Home Address:
                                .col-md-7
                                    if ga.address
                                        span #{ga.address}
                            .row.mb-3 
                                .col-md-5.fw-bold Email Address:
                                .col-md-7
                                    if ga.email
                                        span #{ga.email}
                            .row.mb-5
                                .col-md-5.fw-bold Contact Number:
                                .col-md-7
                                    if ga.contactno
                                        span #{ga.contactno}
                                
                            

                            h4.mb-3 Stay Details
                            .row.mb-3
                                .col-md-5.fw-bold Check-In Date:
                                .col-md-7
                                    if ga.checkindate
                                        span #{ga.checkindate}
                            .row.mb-3
                                .col-md-5.fw-bold Check-Out Date:
                                .col-md-7
                                    if ga.checkoutdate
                                        span #{ga.checkoutdate}
                            .row.mb-3
                                .col-md-5.fw-bold Number of Days:
                                .col-md-7
                                    if ga.numofdays
                                        span #{ga.numofdays}
                            .row.mb-3
                                .col-md-5.fw-bold Number of Adult:
                                .col-md-7
                                    if ga.adultno
                                        span #{ga.adultno}
                            .row.mb-3
                                .col-md-5.fw-bold Number of Child:
                                .col-md-7
                                    if ga.childno
                                        span #{ga.childno}
                            .row.mb-5
                                .col-md-5.fw-bold Promo Code:
                                .col-md-7
                                    if ga.promoid
                                        span #{ga.code}     


                            h4.mb-3 Room Payment
                            .row.mb-3
                                .col-md-5.fw-bold Mode of Payment:
                                .col-md-7
                                    if ga.modeofpayment
                                        span #{ga.modeofpayment}

                
                .col-12.col-md-12.col-lg-8
                    //- Check-Out
                    .container.shadow.mt-3.p-0.bg-white.rounded
                        .px-5.py-2.mb-3.bg.rounded-top
                            h5.m-0 Check-Out
                        .px-5.py-3
                            .d-flex.justify-content-center.my-4
                                .room_box
                                    h6.rounded.bg(
                                        style=`padding: 1rem 2rem; 
                                        margin-right: 2rem;`
                                    ) Room #{ga.roomnum}

                                .room_box 
                                    - let statusStyles = ''
                                    if ga.roomstatus === "Occupied"
                                        - statusStyles = `background-color: #FFDDE1; color: #CC0000`
                                    if ga.roomstatus === "To check-out"
                                        - statusStyles = `background-color: #FFFDB8; color: #FFA852`
                                    if ga.roomstatus === "Inspected"
                                        - statusStyles = `background-color: #FFE4B9; color: #FF6600`
                                    if ga.roomstatus === "Recently checked-out"
                                        - statusStyles = `background-color: #CCEDFF; color: #336699`
                                    if ga.roomstatus === "Vacant"
                                        - statusStyles = `background-color: #CAFFDF; color: #339933`

                                    h6.rounded(
                                        style=`${statusStyles}; 
                                        padding: 1rem 2rem;`
                                    ) #{ga.roomstatus}
                            if ga.roomstatus === "Occupied"
                                p.text-center This room is currently occupied by the guest.<br>Alert housekeeping. Change room status when guest checks out.
                            if ga.roomstatus === "To check-out"
                                p.text-center This room is currently ready for inspection.<br>Housekeeping will handle this. Wait for room status to change to “Inspected”.
                            if ga.roomstatus === "Inspected" && ga.settled === false
                                p.text-center This room is already inspected.<br>Process the payment.
                            if ga.roomstatus === "Inspected" && ga.settled === true
                                p.text-center This account is already settled.<br>Change the room status to "Recently checked-out"
                            if ga.roomstatus === "Recently checked-out"
                                p.text-center This account is already checked-out.<br>Print or download the invoice
                            if ga.roomstatus === "Vacant"
                                p.text-center This account is already cleaned by the housekeeping.<br>Archive this account.

                            if ga.roomstatus === "Occupied"
                                form(action=`/ga/tco/${ga.accountid}` method="POST").text-center
                                    input.btn.mod_btn.mt-4(type="submit" value="Change") 

                            if ga.roomstatus === "Inspected" && ga.settled === true
                                form(action=`/ga/rco/${ga.accountid}` method="POST").text-center
                                    input.btn.mod_btn.mt-4(type="submit" value="Change")
                                    
                            if ga.roomstatus === "Vacant"
                                form(action=`/ga/archive/${ga.accountid}` method='POST').text-center 
                                    input.btn.mod_btn.mt-4(type="submit" value="Archive")
                    
                    //- Payment
                    if ga.roomstatus === "Inspected" && ga.settled === false
                        .container.shadow.mt-3.p-0.bg-white.rounded
                            .px-5.py-2.mb-3.bg.rounded-top
                                h5.m-0 Payment
                            .px-5.py-3
                                .d-flex.justify-content-center.text-align-center 
                                    .row.me-3
                                        a.sa-credit(
                                            onclick="openModal_CardPayment()" 
                                            role='button'
                                        ) 
                                            i.fa-solid.fa-credit-card
                                            h6 Credit Card     
                                    .row.me-3
                                        a.sa-debit(
                                            onclick="openModal_CardPayment()" 
                                            role='button'
                                        ) 
                                            i.fa-solid.fa-credit-card
                                            h6 Debit Card
                                    include ../../mixins/modals/ga.pug
                                    +cardpayment                                       
                                    .row.me-3 
                                        a.sa-cash(
                                            onclick="openModal_CashPayment()" 
                                            role='button'
                                        ) 
                                            i.fa-solid.fa-money-bills
                                            h6 Cash
                                    include ../../mixins/modals/ga.pug
                                    +cashpayment
                    
                    //- Invoice
                    if ga.settled === true
                        .container.shadow.mt-3.p-0.bg-white.rounded
                            .px-5.py-2.mb-3.bg.rounded-top
                                h5.m-0 Invoice
                            .px-5.py-3
                                .d-flex.justify-content-center 
                                    .row
                                        form(action=`/ga/invoice/${ga.accountid}` method="GET") 
                                            input.btn.mod_btn(type="submit" value="Download")
                    
                    //- Folio
                    .container.shadow.mt-3.p-0.bg-white.rounded
                        .px-5.py-2.mb-3.bg.rounded-top
                            h5.m-0 Folio
                        .px-5.py-3
                            table.table.table-borderless(style="font-size:0.9rem!important")
                                //- ROOM ACCOMMODATION SECTION --------------------------------------------------
                                if(t1.length > 0)
                                    thead
                                        tr
                                            td.fw-bold(colspan=7) Room
                                        tr
                                            td
                                            td.fw-bold Code
                                            td.fw-bold Paid
                                            td.fw-bold Description
                                            td.fw-bold Price
                                            td.fw-bold Days
                                            td.fw-bold Amount
                                    tbody
                                        each t in t1
                                            tr
                                                td
                                                td #{t.transactionid}
                                                if t.paid
                                                    td Paid
                                                if t.paid === false 
                                                    td Not paid
                                                td #{t.description}
                                                td #{t.price}
                                                td #{t.qty}
                                                td.amount #{t.amount}
                                        tr 
                                            td.fw-bold(colspan=6) Total
                                            td.fw-bold(id='roomtotal')
                                //- ANCILLARY SERVICES SECTION --------------------------------------------------
                                if(t2.length > 0)
                                    thead
                                        tr
                                            td.fw-bold(colspan=7) Ancillary Services
                                        tr
                                            td 
                                            td.fw-bold Code
                                            td.fw-bold Paid
                                            td.fw-bold Description
                                            td.fw-bold Price
                                            td.fw-bold Usage
                                            td.fw-bold Amount
                                    tbody
                                        each t in t2
                                            tr
                                                td
                                                td #{t.ps_code}
                                                if t.paid
                                                    td Paid
                                                if t.paid === false 
                                                    td Not paid
                                                td #{t.ancillary_desc}
                                                td #{t.price}
                                                td #{t.quantity}
                                                td.amount #{t.amount}
                                        tr 
                                            td.fw-bold(colspan=6) Total
                                            td.fw-bold(id='anctotal')
                                //- HOUSEKEEPING SECTION --------------------------------------------------
                                if(t3.length > 0)
                                    thead
                                        tr 
                                            td.fw-bold(colspan=7) Housekeeping
                                        tr
                                            td
                                            td.fw-bold Code
                                            td.fw-bold Paid
                                            td.fw-bold Description
                                            td.fw-bold Price
                                            td.fw-bold Quantity
                                            td.fw-bold Amount
                                    tbody
                                        each t in t3
                                            tr
                                                td
                                                td #{t.transactionid}
                                                if t.paid
                                                    td Paid
                                                if t.paid === false 
                                                    td Not paid
                                                td #{t.description}
                                                td #{t.price}
                                                td #{t.qty}
                                                td.amount #{t.amount}
                                        tr 
                                            td.fw-bold(colspan=6) Total
                                            td.fw-bold(id='hsktotal')
                                //- SUMMARY --------------------------------------------------
                                thead
                                    tr 
                                        td.fw-bold(colspan=7) Summary
                                tbody
                                    tr
                                        td(style='width:200px;')
                                        td 
                                        td 
                                        td 
                                        td
                                        td Subtotal
                                        td#subtotal
                                    tr
                                        td(style='width:200px;')
                                        td 
                                        td 
                                        td 
                                        td
                                        td Discount
                                        td#discount #{ga.foliodiscount}%
                                    tr
                                        td(style='width:200px;')
                                        td 
                                        td 
                                        td 
                                        td
                                        td Tax
                                        td#tax #{ga.foliotax}%
                                    tr
                                        td(style='width:200px;')
                                        td 
                                        td 
                                        td 
                                        td
                                        td.fw-bold Total Amount
                                        td#totalamount 
                                    tr
                                        td(style='width:200px;')
                                        td 
                                        td 
                                        td 
                                        td
                                        td.fw-bold Paid to Date
                                        td#paidtodate
                                    tr
                                        td(style='width:200px;')
                                        td 
                                        td 
                                        td 
                                        td
                                        td.fw-bold Balance
                                        td#balance 
                            p.mt-5.text-center Discounts and taxes are already applied on the room accommodation.
                        
                        script.
                            const t1 = !{JSON.stringify(t1)}
                            const t2 = !{JSON.stringify(t2)}
                            const t3 = !{JSON.stringify(t3)}
                            const amounts = document.querySelectorAll('td.amount')
                            const subtotalTD = document.querySelector('#subtotal')
                            const totalamountTD = document.querySelector('#totalamount')
                            const paidtodateTD = document.querySelector('#paidtodate')
                            const balanceTD = document.querySelector('#balance')

                            const roomtotalTD = document.querySelector('#roomtotal')
                            const anctotalTD = document.querySelector('#anctotal')
                            const hsktotalTD = document.querySelector('#hsktotal')

                            function calculatePercentageOfAmount(amount, percent) {
                                return (percent / 100) * amount
                            }
                            function formatNumber(num) {
                                return num.toFixed(2)
                            }

                            document.addEventListener('DOMContentLoaded', ()=>{

                                let roomtotal = 0
                                let anctotal = 0
                                let hsktotal = 0
                                let subtotal = 0
                                let totalamount = 0
                                let paidtodate = 0

                                t1.forEach(t => {
                                        subtotal += parseInt(t.amount)
                                        totalamount += parseInt(t.amount)
                                        roomtotal += parseInt(t.amount)
                                        if(t.paid === true){
                                            paidtodate += parseInt(t.amount)
                                        }
                                })
                                if(t2.length > 0){
                                    t2.forEach(t => {
                                        subtotal += parseInt(t.amount)
                                        totalamount += parseInt(t.amount)
                                        anctotal += parseInt(t.amount)
                                        if(t.paid === true){
                                            paidtodate += parseInt(t.amount)
                                        }
                                })
                                }
                                if(t3.length > 0){
                                    t3.forEach(t => {
                                        subtotal += parseInt(t.amount)
                                        totalamount += parseInt(t.amount)
                                        hsktotal += parseInt(t.amount)
                                        if(t.paid === true){
                                            paidtodate += parseInt(t.amount)
                                        }
                                })
                                }

                                if(roomtotalTD){
                                    roomtotalTD.innerText = formatNumber(roomtotal)
                                }
                                if(anctotalTD){
                                    anctotalTD.innerText = formatNumber(anctotal)
                                }
                                if(hsktotalTD){
                                    hsktotalTD.innerText = formatNumber(hsktotal)
                                }

                                if(subtotalTD){
                                    subtotalTD.innerText = formatNumber(subtotal)
                                }
                                totalamountTD.innerText = formatNumber(totalamount)
                                paidtodateTD.innerText = formatNumber(paidtodate)
                                balanceTD.innerText = formatNumber(totalamount - paidtodate)
                            })


    //-Bootstrap Js
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    //-FontAwesome
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    //-Customize JS
    script(src='/js/nav-active.js')
    script(src='/js/room_nav.js')     
    script(src='/js/modal.js')     
    script(src='/js/modals/ga.js')     