doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/modal.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    title Users

    //- sa head lagi nakalagay ang color.pug
    include ../../partials/color.pug
  body
    include ../../partials/navHA.pug

    h2 Admin 

    table
      thead
        tr
          th Username
          th Date Created
          th Actions

      tbody
        each ha in allHotelAdminsArray
          tr
            td #{ha.username}
            td #{ha.datecreated}
            td
              button
                a(href=`users/edit/HA/${ha.userid}`) Edit

              button
                a(href=`users/changePW/HA/${ha.userid}`) Change Password

    //- ---------- receptionist section ----------
    hr

    button(onclick="openModal()") Add Receptionist
    include ../../mixins/modals.pug
    +addR

    h2 Receptionists

    table
      thead
        tr
          th Full Name
          th Username
          th Date Created
          th Actions

      tbody
        each r in allReceptionistsArray
          tr
            td #{r.fullname}
            td #{r.username}
            td #{r.datecreated}
            td
              button
                a(href=`/users/edit/R/${r.userid}`) Edit

              form(action=`/users/delete/${r.userid}`, method="POST")
                input(type="hidden", name="_method", value="DELETE")
                button(type="submit") Delete

              button
                a(href=`/users/changePW/R/${r.userid}`) Change Password

    include ../../partials/logoutHA.pug

    script(src='/js/modal.js') 