mixin addhotel 
    #modal.modal  
            .modal-content
                .modal-header
                    h5.modal-title(id='') Add Hotel
                    button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
                .modal-body.mb-3 
                    form(id="addhotelform", action="/hotels", method="POST")
                    
                        label.col-form-label(for="hotelname") Hotel Name:
                        input.form-control(type="text", id="hotelname", name="hotelname", required)
                        //- ganto talaga indentation ng .modal-footer
                        .modal-footer.mt-3
                            button.btn.btn-secondary(type="button", onclick="closeModal()") Cancel
                            input.btn(type="submit", value="Submit")                   

mixin deletehotel(hotelId)
    #deletehotel.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteHotelModal()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this hotel record? If you delete this hotel, its record will be permanently deleted from the system.
                h6.title(id='') Hotel Name:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#hotel-name-in-modal(type="text" readonly value=hotelname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-hotel-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="closeDeleteHotelModal()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.


mixin addHSA
    #modal.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Add Hotel System Admin
                button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
            .modal-body.mb-3
                form(id="addhoteladminform", action="/hsadmins", method="POST")

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", id="username", name="username", required)

                    label.col-form-label.mt-3(for='password') Password:
                    .input-group.showpass
                        input#password.form-control(type='password' name='password' required)
                        .input-group-append
                            span#showPasswordToggle.input-group-text.showpassicon
                                i#showPasswordIcon.fas.fa-eye-slash

                    label.col-form-label.mt-3(for="") Hotel:
                    select.form-select(id='hotelid', name='hotelid')
                        each h in allHotelsArray
                            option(value=h.hotelid)= h.hotelname

                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer.mt-3
                        button.btn.btn-secondary.closeModalBtn(type="button", onclick="closeModal()") Cancel
                        input.btn(type="submit", value="Submit")


mixin addSA 
    #modal.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Add Super Admin
                button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
            .modal-body.mb-3
                form(id="addsuperadminform", action="/superadmins", method="POST")

                    label.col-form-label(for="fullname") Name:
                    input.form-control(type="text", id="fullname", name="fullname", required)

                    label.col-form-label.mt-3(for="username") Username:
                    input.form-control(type="text", id="username", name="username", required)

                    label.col-form-label.mt-3(for='password') Password:
                    .input-group.showpass
                        input#password.form-control(type='password' name='password' required)
                        .input-group-append
                            span#showPasswordToggle.input-group-text.showpassicon
                                i#showPasswordIcon.fas.fa-eye-slash
                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="closeModal()") Cancel
                        input.btn(type="submit", value="Submit")

mixin deleteSA(userId)
    #deletesuper.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteSuperModal()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Super Admin record? If you delete this Super Admin, its record will be permanently deleted from the system.
                h6.title(id='') Super Admin Fullname:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#full-name-in-modal(type="text" readonly value=fullname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="closeDeleteSuperModal()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.

mixin editSA
    #editsuper.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='closeEditSAModal()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for="name") Name:
                    input.form-control(type="text", name="name", value=`${sa.fullname}`, required)

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", name="username", value=`${sa.username}`, required)

                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="closeEditSAModal()") Cancel
                        input.btn(type="submit", value="Submit")

mixin changeSA
    #changepassword.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Change Password
                button.btn-close(type='button' onclick='closeChangeSAModal()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for='old-password') Old Password:
                    .input-group.showpass
                        input#oldpassword.form-control(type='password' name='oldPassword')
                        .input-group-append
                            span#showoldPasswordToggle.input-group-text.showpassicon
                                i#showoldPasswordIcon.fas.fa-eye-slash

                    label.col-form-label(for='new-password') New Password:
                    .input-group.showpass
                        input#newpassword.form-control(type='password' name='newPassword')
                        .input-group-append
                            span#shownewPasswordToggle.input-group-text.showpassicon
                                i#shownewPasswordIcon.fas.fa-eye-slash  

                    label.col-form-label(for='confirm-password') Confirm Password:
                    .input-group.showpass
                        input#conpassword.form-control(type='password' name='confirmPassword')
                        .input-group-append
                            span#showconPasswordToggle.input-group-text.showpassicon
                                i#showconPasswordIcon.fas.fa-eye-slash

                    // Error message element
                    p.mt-3.err#error-message

                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="closeChangeSAModal()") Cancel
                        input.btn(type="submit", value="Submit")


//- EDIT Profile in HSA
mixin editProfileHSA(hotelId, colorStacksArray)
    #editprofilehsa.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='CLose_Edit_Profile()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")

                    label.col-form-label(for="name") Name:
                    input.form-control(type="text", name="hotelname", value=`${h.hotelname}`, required)

                    label.col-form-label(for="location") Location:
                    input.form-control(type="text", name="hotellocation", value=`${h.hotellocation}`, required)

                    label.col-form-label(for="contact") Contact Number:
                    input.form-control(type="text", name="hotelcontact", value=`${h.hotelcontact}`, required)

                    label.col-form-label(for="email") Email:
                    input.form-control(type="email", name="hotelemail", value=`${h.hotelemail}`, required)

                    label.col-form-label(for="") Color Theme:
                    select.form-select(name='hotelColor', id='hotelColor')


                    
                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="CLose_Edit_Profile()") Cancel
                        input.btn(type="submit", value="Submit") 


//- ADD Receptionist in HSA
mixin addR 
    #modal.modal
        .modal-content
            .modal-header
                h1 Add Receptionist
            .modal-body
                form(id="addreceptionistform", action="", method="POST")
                    label.col-form-label(for="fullname") Name:
                    input.form-control(type="text", id="fullname", name="fullname", required)

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", id="username", name="username", required)

                    label.col-form-label(for="password") Password:
                    input.form-control(type="password", id="password", name="password", required)

                    .modal-footer
                        button.btn.btn-secondary.closeAddModalBtn(type="button", onclick="closeModal()") Cancel
                        input.btn(type="submit", value="Submit")  

//- EDIT Admin in HSA
mixin editAdminHSA
    #editadminhsa.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='CLose_Edit_Admin_User()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", name="username", value=`${ha.username}`, required)

                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="CLose_Edit_Admin_User()") Cancel
                        input.btn(type="submit", value="Submit") 

//- CHANGE PASSWORD Rececptionist in HSA
mixin changeAdminHSA
    #changeAdminHSA.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Change Password
                button.btn-close(type='button' onclick='Close_ChangePass_Admin_User()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for='old-password') Old Password:
                    .input-group.showpass
                        input#oldpasswordAdmin.form-control(type='password' name='oldPassword')
                        .input-group-append
                            span#showoldPasswordToggleAdmin.input-group-text.showpassicon
                                i#showoldPasswordIconAdmin.fas.fa-eye-slash

                    label.col-form-label(for='new-password') New Password:
                    .input-group.showpass
                        input#newpasswordAdmin.form-control(type='password' name='newPassword')
                        .input-group-append
                            span#shownewPasswordToggleAdmin.input-group-text.showpassicon
                                i#shownewPasswordIconAdmin.fas.fa-eye-slash  

                    label.col-form-label(for='confirm-password') Confirm Password:
                    .input-group.showpass
                        input#conpasswordAdmin.form-control(type='password' name='confirmPassword')
                        .input-group-append
                            span#showconPasswordToggleAdmin.input-group-text.showpassicon
                                i#showconPasswordIconAdmin.fas.fa-eye-slash

                    // Error message element
                    p.mt-3.err#error-message-admin
                    
                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="Close_ChangePass_Admin_User()") Cancel
                        input.btn(type="submit", value="Submit")


//- EDIT Receptionist in HSA
mixin editReceptionistHSA
    #editreceptionisthsa.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='CLose_Edit_Receptionist_User()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for="name") Name:
                    input.form-control(type="text", name="name", value=`${r.fullname}`, required)

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", name="username", value=`${r.username}`, required)

                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="CLose_Edit_Receptionist_User()") Cancel
                        input.btn(type="submit", value="Submit") 

//- DELETE Receptionist in HSA
mixin deleteReceptionistHSA(userId)
    #deletereceptionisthsa.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='CLose_Delete_Receptionist_User()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Receptionist record? If you delete this Receptionist, its record will be permanently deleted from the system.
                h6.title(id='') Receptionist Fullname:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#full-name-in-modal(type="text" readonly value=fullname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="CLose_Delete_Receptionist_User()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.

//- CHANGE PASSWORD Rececptionist in HSA
mixin changeReceptionistHSA
    // Modal content for changeReceptionistHSA
    #changeReceptionistHSA.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Change Password
                button.btn-close(type='button' onclick='Close_ChangePass_Receptionist_User()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for='old-password') Old Password:
                    .input-group.showpass
                        input#oldpasswordReceptionist.form-control(type='password' name='oldPassword')
                        .input-group-append
                            span#showoldPasswordToggleReceptionist.input-group-text.showpassicon
                                i#showoldPasswordIconReceptionist.fas.fa-eye-slash

                    label.col-form-label(for='new-password') New Password:
                    .input-group.showpass
                        input#newpasswordReceptionist.form-control(type='password' name='newPassword')
                        .input-group-append
                            span#shownewPasswordToggleReceptionist.input-group-text.showpassicon
                                i#shownewPasswordIconReceptionist.fas.fa-eye-slash  

                    label.col-form-label(for='confirm-password') Confirm Password:
                    .input-group.showpass
                        input#conpasswordReceptionist.form-control(type='password' name='confirmPassword')
                        .input-group-append
                            span#showconPasswordToggleReceptionist.input-group-text.showpassicon
                                i#showconPasswordIconReceptionist.fas.fa-eye-slash

                    // Error message element
                    p.mt-3.err#error-message-receptionist
                    
                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="Close_ChangePass_Receptionist_User()") Cancel
                        input.btn(type="submit", value="Submit")


//- ADD Room Type
mixin addRoomType 
    #modal.modal  
            .modal-content
                .modal-header
                    h5.modal-title(id='') Add Room Type
                    button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
                .modal-body.mb-3 
                    form(method="POST" action="/roomtype/addRoomtype" enctype="multipart/form-data")
                        .form-group
                            label(for="roomtype") Room Type:
                            input.form-control(type="text", name="roomtype", title="Please enter a room type", required)

                        .form-group
                            label(for="description") Description:
                            textarea.form-control(name="description", rows = "4", title="Please enter a description", required)
                            
                        .form-group
                            label(for="price") Price:
                            input.form-control(type="number", name="price", min="0", required)

                        .form-group
                            label(for="capacity") Capacity:
                            input.form-control(type="number", name="capacity", min="0", required)

                        .form-group
                            label(for="roomimage") Room Image:
                            input.form-control(type="file", name="roomimage", accept="image/*", onchange="previewImage(event)")
                            img#imagePreview(style="width: 100%; height: 100%;")
                        
                        //- ganto talaga indentation ng .modal-footer
                        .modal-footer.mt-3
                            a.btn.btn-secondary(href="/roomtype") Back
                            input(type="submit" class="btn btn-primary" value="Submit")

//- DELETE Room Type
mixin deleteRoomType(roomtype)
    #deleteroomtype.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteRoomType()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Room Type record? If you delete this Room Type, its record will be permanently deleted from the system.
                h6.title(id='') Room Type:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#room-type-in-modal(type="text" readonly value=roomnum)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="closeDeleteRoomType()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.

//- Edit Room Type
mixin editRoomType
    #editroomtype.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='Close_Edit_RoomType()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST" , enctype="multipart/form-data")
                    label.col-form-label(for="type") Room Type:
                    input.form-control(type="text", name="roomtype", value=`${r.roomtype}`, required)

                    label.col-form-label(for="description") Room Description:
                    input.form-control(type="text", name="description", value=`${r.description}`, required)

                    label.col-form-label(for="capacity") Room Capacity:
                    input.form-control(type="text", name="capacity", value=`${r.capacity}`, required)

                    label.col-form-label(for="price") Room Price:
                    input.form-control(type="text", name="price", value=`${r.price}`, required)

                    label.col-form-label(for="roomimage") Room Image:
                    input.form-control(type="file", name="roomimage", accept="image/*", onchange="previewImage(event)")

                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="Close_Edit_RoomType()") Cancel
                        input.btn(type="submit", value="Submit") 



//- ADD Room 
mixin addRoom
    #modal.modal  
            .modal-content
                .modal-header
                    h5.modal-title(id='') Add Room
                    button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
                .modal-body.mb-3 
                    form(method="POST" action="/HSArooms/addRooms")
                        .form-group
                            label(for="roomnum") Room Number:
                            input.form-control(type="text", name="roomnum", pattern="[0-9]+", title="Please enter a valid room number", required)

                        .form-group
                            label(for="") Room Type:
                            select.form-select(id='roomtype', name='roomtype', required)
                                each r in roomTypesArray
                                    option(value=r.roomtype data-price=r.price data-capacity=r.capacity)= r.roomtype

                        .form-group
                            label(for="roomprice") Room Price:
                            input.form-control(type="number", name="roomprice", step="0.01", min="0", required, readonly) 
                            
                        .form-group
                            label(for="roomfloor") Room Floor:
                            input.form-control(type="number", name="roomfloor", min="1", required, readonly)

                        .form-group
                            label(for="capacity") Capacity:
                            input.form-control(type="number", name="capacity", min="0", required, readonly)

                        //- ganto talaga indentation ng .modal-footer
                        .modal-footer.mt-3
                            a.btn.btn-secondary(href="/HSArooms") Back
                            input(type="submit" class="btn btn-primary" value="Submit")
                    
                    //- javaScript code to automatically populate and disable price and capacity based on roomtype
                    script.
                        document.addEventListener('DOMContentLoaded', function() {
                            const roomTypeSelect = document.querySelector('select[name="roomtype"]');
                            const roomPriceInput = document.querySelector('input[name="roomprice"]');
                            const capacityInput = document.querySelector('input[name="capacity"]');
                            
                            // Function to update the price and capacity inputs
                            function updatePriceAndCapacity() {
                                // Get the selected option
                                const selectedOption = roomTypeSelect.options[roomTypeSelect.selectedIndex];
                                
                                // Update the price and capacity inputs
                                roomPriceInput.value = selectedOption.getAttribute('data-price');
                                capacityInput.value = selectedOption.getAttribute('data-capacity');
                            }
                            
                            // Update the price and capacity inputs when the page loads
                            updatePriceAndCapacity();
                            
                            // Update the price and capacity inputs when the room type changes
                            roomTypeSelect.addEventListener('change', updatePriceAndCapacity);
                        });
                    
                    - //javaScript code to automatically populate and disable roomfloor
                    script.
                        document.addEventListener('DOMContentLoaded', function() {
                            const roomNumInput = document.querySelector('input[name="roomnum"]');
                            const roomFloorInput = document.querySelector('input[name="roomfloor"]');
                            
                            roomNumInput.addEventListener('input', function() {
                                // Get the first character of the room number
                                const firstDigit = this.value.charAt(0);
                                
                                // Populate and disable the roomfloor input
                                roomFloorInput.value = firstDigit;
                            })
                        });

//- DELETE Room
mixin deleteRoom(roomnum)
    #deleteroom.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteRoom()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Room record? If you delete this Room, its record will be permanently deleted from the system.
                h6.title(id='') Room Number:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#room-num-in-modal(type="text" readonly value=roomnum)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="closeDeleteRoom()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.



                    