//- Super Admin ADD HOTEL
mixin addhotel 
    #modal.modal  
            .modal-content
                .modal-header
                    h5.modal-title(id='') Add Hotel
                    button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
                .modal-body.mb-3 
                    form(id="addhotelform", action="/hotels", method="POST")
                    
                        label.col-form-label(for="hotelname") Hotel Name:
                        input.form-control(type="text", id="hotelname", name="hotelname", required)

                        label.col-form-label(for="hotellocation") Location:
                        input.form-control(type="text", id="hotellocation", name="hotellocation", required)

                        label.col-form-label(for="hotelcontact") Contact Number:
                        input.form-control(type="text", id="hotelcontact", name="hotelcontact", required)

                        label.col-form-label(for="hotelemail") Email:
                        input.form-control(type="text", id="hotelemail", name="hotelemail", required)
                        //- ganto talaga indentation ng .modal-footer
                        .modal-footer.mt-3
                            button.btn.btn-secondary(type="button", onclick="closeModal()") Cancel
                            input.btn(type="submit", value="Submit")           


//- Super Admin EDIT HOTEL
mixin edithotel 
    #edithotel.modal  
            .modal-content
                .modal-header
                    h5.modal-title(id='') Edit Hotel
                    button.btn-close(type='button' onclick='closeEditHotel()' aria-label='Close')
                .modal-body.mb-3 
                    form(id="edithotelform", action="", method="POST")
                    
                        label.col-form-label(for="hotelname") Hotel Name:
                        input.form-control(type="text", id="hotelname", name="hotelname", required)

                        label.col-form-label(for="hotellocation") Location:
                        input.form-control(type="text", id="hotellocation", name="hotellocation", required)

                        label.col-form-label(for="hotelcontact") Contact Number:
                        input.form-control(type="text", id="hotelcontact", name="hotelcontact", required)

                        label.col-form-label(for="hotelemail") Email:
                        input.form-control(type="text", id="hotelemail", name="hotelemail", required)
                        //- ganto talaga indentation ng .modal-footer
                        .modal-footer.mt-3
                            button.btn.btn-secondary(type="button", onclick="closeEditHotel()") Cancel
                            input.btn(type="submit", value="Submit")          


//- Super Admin DELETE HOTEL
mixin deletehotel(hotelId)
    #deletehotel.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteHotelModal()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this hotel record? If you delete this hotel, its record will be permanently deleted from the system.
                h6.title(id='') Hotel Name:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#hotel-name-in-modal(type="text" readonly value=hotelname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-hotel-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="closeDeleteHotelModal()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.


//- Super Admin ADD HOTEL ADMIN
mixin addHSA
    #modal.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Add Hotel System Admin
                button.btn-close.closer(type='button' onclick='closeModal()' aria-label='Close')
            .modal-body.mb-3
                form(id="addhoteladminform", action="/hsadmins", method="POST")

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", id="username", name="username", required)

                    label.col-form-label.mt-3(for='password') Password:
                    .input-group.showpass
                        input#password.form-control(type='password' name='password' pattern='.{8,}' title='Password must be at least 8 characters' required)
                        .input-group-append
                            span#showPasswordToggle.input-group-text.showpassicon
                                i#showPasswordIcon.fas.fa-eye-slash
                    #password-error-message.text-danger.mt-3            

                    label.col-form-label.mt-2(for="") Hotel:
                    select.form-select(id='hotelid', name='hotelid')
                        each h in allHotelsArray
                            option(value=h.hotelid)= h.hotelname

                    

                    script.
                        document.addEventListener('DOMContentLoaded', function() {
                            const usernameSAInput = document.getElementById('username');
                            const passwordSAInput = document.getElementById('password');
                            const errorMessageSA = document.getElementById('password-error-message');
                            const closeModalBtn = document.querySelector('.closeModalBtn');
                            const closeBtn = document.querySelector('.closer')

                            function clearInputsAndMessageSA() {
                                usernameSAInput.value = '';
                                passwordSAInput.value = '';
                                errorMessageSA.textContent = '';
                            }

                            passwordSAInput.addEventListener('input', function() {
                                if (passwordSAInput.validity.valid) {
                                    errorMessageSA.textContent = ''; // Clear error message
                                          errorMessageSA.style.display = 'none'; // Hide the error message
                                } else {
                                    errorMessageSA.textContent = 'Password must be at least 8 characters';
                                    errorMessageSA.style.display = 'block'; // Show the error message
                                }
                            });

                            // Clear inputs and error message when the modal is closed
                            closeModalBtn.addEventListener('click', clearInputsAndMessageSA);
                            closeBtn.addEventListener('click', clearInputsAndMessageSA);
                        });


                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer.mt-3
                        button.btn.btn-secondary.closeModalBtn(type="button", onclick="closeModal()") Cancel
                        input.btn(type="submit", value="Submit")


//- Super Admin ADD SUPER ADMIN
mixin addSA 
    #modal.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Add Super Admin
                button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
            .modal-body.mb-3
                form(id="addsuperadminform", action="/superadmins", method="POST")

                    label.col-form-label(for="fullname") Name:
                    input.form-control(type="text", id="fullname", name="fullname", required)

                    label.col-form-label.mt-3(for="username") Username:
                    input.form-control(type="text", id="username", name="username", required)

                    label.col-form-label.mt-3(for='password') Password:
                    .input-group.showpass
                        input#password.form-control(type='password' name='password' required)
                        .input-group-append
                            span#showPasswordToggle.input-group-text.showpassicon
                                i#showPasswordIcon.fas.fa-eye-slash
                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="closeModal()") Cancel
                        input.btn(type="submit", value="Submit")


//- SUper Admin DELETE SUPER ADMIN
mixin deleteSA(userId)
    #deletesuper.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteSuperModal()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Super Admin record? If you delete this Super Admin, its record will be permanently deleted from the system.
                h6.title(id='') Super Admin Fullname:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#full-name-in-modal(type="text" readonly value=fullname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.btn-secondary.me-3(type="button", onclick="closeDeleteSuperModal()") Cancel
                    input.btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.

//- Super Admin DELETE SUPER ADMIN
mixin editSA
    #editsuper.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='closeEditSAModal()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for="name") Name:
                    input.form-control(type="text", name="name", value=`${sa.fullname}`, required)

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", name="username", value=`${sa.username}`, required)

                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="closeEditSAModal()") Cancel
                        input.btn(type="submit", value="Submit")


//- Super Admin CHANGE PASSWORD SUPER ADMIN
mixin changeSA
    #changepassword.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Change Password
                button.btn-close(type='button' onclick='closeChangeSAModal()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for='old-password') Old Password:
                    .input-group.showpass
                        input#oldpassword.form-control(type='password' name='oldPassword')
                        .input-group-append
                            span#showoldPasswordToggle.input-group-text.showpassicon
                                i#showoldPasswordIcon.fas.fa-eye-slash

                    label.col-form-label(for='new-password') New Password:
                    .input-group.showpass
                        input#newpassword.form-control(type='password' name='newPassword')
                        .input-group-append
                            span#shownewPasswordToggle.input-group-text.showpassicon
                                i#shownewPasswordIcon.fas.fa-eye-slash  

                    label.col-form-label(for='confirm-password') Confirm Password:
                    .input-group.showpass
                        input#conpassword.form-control(type='password' name='confirmPassword')
                        .input-group-append
                            span#showconPasswordToggle.input-group-text.showpassicon
                                i#showconPasswordIcon.fas.fa-eye-slash

                    // Error message element
                    p.mt-3.err#error-message

                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="closeChangeSAModal()") Cancel
                        input.btn(type="submit", value="Submit")


//- HOTEL SYSTEM ADMIN

//- Hotel System Admin EDIT PROFILE HSA
mixin editProfileHSA(hotelId, colorStacksArray)
    #editprofilehsa.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='CLose_Edit_Profile()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")

                    label.col-form-label(for="name") Name:
                    input.form-control(type="text", name="hotelname", value=`${h.hotelname}`, required)

                    label.col-form-label(for="location") Location:
                    input.form-control(type="text", name="hotellocation", value=`${h.hotellocation}`, required)

                    label.col-form-label(for="contact") Contact Number:
                    input.form-control(type="text", name="hotelcontact", value=`${h.hotelcontact}`, required)

                    label.col-form-label(for="email") Email:
                    input.form-control(type="email", name="hotelemail", value=`${h.hotelemail}`, required)

                    label.col-form-label(for="") Color Theme:
                    select.form-select(name='hotelColor', id='hotelColor')


                    
                    .modal-footer
                        button.btn.btn-secondary.me-3.closeAddModalBtn(type="button", onclick="CLose_Edit_Profile()") Cancel
                        input.btn(type="submit", value="Submit") 



//- Hotel System Admin EDIT ADMIN HSA 
mixin editAdminHSA
    #editadminhsa.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='CLose_Edit_Admin_User()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", name="username", value=`${ha.username}`, required)

                    .modal-footer
                        button.btn.mod_btn_sec.me-3.closeAddModalBtn(type="button", onclick="CLose_Edit_Admin_User()") Cancel
                        input.btn.mod_btn(type="submit", value="Submit") 

//-Hotel System Admin CHANGE PASSWORD ADMIN HSA
mixin changeAdminHSA
    #changeAdminHSA.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Change Password
                button.btn-close.HSAcloser(type='button' onclick='Close_ChangePass_Admin_User()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for='old-password') Old Password:
                    .input-group.showpass
                        input#oldpasswordAdmin.form-control(type='password' name='oldPassword')
                        .input-group-append
                            span#showoldPasswordToggleAdmin.input-group-text.showpassicon
                                i#showoldPasswordIconAdmin.fas.fa-eye-slash

                    label.col-form-label(for='new-password') New Password:
                    .input-group.showpass
                        input#newpasswordAdmin.form-control(type='password' name='newPassword' pattern='.{8,}' title='Password must be at least 8 characters' required)
                        .input-group-append
                            span#shownewPasswordToggleAdmin.input-group-text.showpassicon
                                i#shownewPasswordIconAdmin.fas.fa-eye-slash  

                    label.col-form-label(for='confirm-password') Confirm Password:
                    .input-group.showpass
                        input#conpasswordAdmin.form-control(type='password' name='confirmPassword')
                        .input-group-append
                            span#showconPasswordToggleAdmin.input-group-text.showpassicon
                                i#showconPasswordIconAdmin.fas.fa-eye-slash

                    // Error message element
                    p.mt-3.err#error-message-admin
                    div#HSAerror-message.alert.alert-danger.mt-3(style="text-align: center")

                    .modal-footer
                        button.btn.mod_btn_sec.me-3.HSAcloseModalBtn(type="button", onclick="Close_ChangePass_Admin_User()") Cancel
                        input.btn.mod_btn(type="submit", value="Submit")
                
                    script.
                        document.addEventListener('DOMContentLoaded', function() {
                            const newPasswordInputHSA = document.getElementById('newpasswordAdmin');
                            const oldPasswordInputHSA = document.getElementById('oldpasswordAdmin');
                            const conPasswordInputHSA = document.getElementById('conpasswordAdmin');
                            const HSAerrorMessage = document.getElementById('HSAerror-message');
                            const closeModalBtnHSA = document.querySelector('.HSAcloseModalBtn');
                            const closeBtnHSA = document.querySelector('.HSAcloser')

                            function HSAclearInputsAndMessage() {
                                HSAerrorMessage.textContent = '';
                                HSAerrorMessage.style.display = 'none';

                            }
                            newPasswordInputHSA.addEventListener('input', function() {
                                if (newPasswordInputHSA.validity.valid) {
                                    HSAerrorMessage.textContent = ''; // Clear error message
                                    HSAerrorMessage.style.display = 'none'; // Hide the error message
                                } else {
                                    HSAerrorMessage.textContent = 'Password must be at least 8 characters';
                                    HSAerrorMessage.style.display = 'block'; // Show the error message
                                }
                            });
                            closeModalBtnHSA.addEventListener('click', HSAclearInputsAndMessage);
                            closeBtnHSA.addEventListener('click', HSAclearInputsAndMessage);
                        });    
                    

//- Hotel System Admin ADD RECEPTIONIST HSA
mixin addR 
    #addR.modal
        .modal-content
            .modal-header
                h5.modal-title Add Receptionist
                button.btn-close.closer(type='button' onclick='closeModaladdR()' aria-label='Close')

            .modal-body
                form(id="addreceptionistform", action="", method="POST")
                    label.col-form-label(for="fullname") Name:
                    input.form-control(type="text", id="fullname", name="fullname", required)

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", id="username", name="username", required)

                    label.col-form-label(for="password") Password:
                    input.form-control(type="password", id="password", name="password" pattern='.{8,}' title='Password must be at least 8 characters' required)
                    div#error-messages.alert.alert-danger.mt-3(style="text-align: center")

                    .modal-footer
                        button.btn.closeModalBtn.mod_btn_sec(type="button", onclick="closeModaladdR()") Cancel
                        input.btn.mod_btn(type="submit", value="Submit")
                
                
                    script.
                        document.addEventListener('DOMContentLoaded', function() {

                            const usernameInput = document.getElementById('username');
                            const fullnameInput = document.getElementById('fullname');
                            const passwordInput = document.getElementById('password');
                            const errorMessage = document.getElementById('error-messages');
                            const closeModalBtn = document.querySelector('.closeModalBtn');
                            const closeBtn = document.querySelector('.closer');

                            function clearInputsAndMessageR() {
                                usernameInput.value = '';
                                fullnameInput.value = '';
                                passwordInput.value = '';
                                errorMessage.textContent = '';
                                errorMessage.style.display = 'none';
                            }

                            passwordInput.addEventListener('input', function() {
                                if (passwordInput.validity.valid) {
                                    errorMessage.textContent = ''; // Clear error message
                                    errorMessage.style.display = 'none'; // Hide the error message
                                } else {
                                    errorMessage.textContent = 'Password must be at least 8 characters';
                                    errorMessage.style.display = 'block'; // Show the error message
                                }
                            });

                            closeModalBtn.addEventListener('click', clearInputsAndMessageR);
                            closeBtn.addEventListener('click', clearInputsAndMessageR);
                        });
                    
                    


//- EDIT Receptionist in HSA
mixin editReceptionistHSA
    #editreceptionisthsa.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Edit
                button.btn-close(type='button' onclick='CLose_Edit_Receptionist_User()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for="name") Name:
                    input.form-control(type="text", name="name", value=`${r.fullname}`, required)

                    label.col-form-label(for="username") Username:
                    input.form-control(type="text", name="username", value=`${r.username}`, required)

                    .modal-footer
                        button.btn.mod_btn_sec.me-3.closeAddModalBtn(type="button", onclick="CLose_Edit_Receptionist_User()") Cancel
                        input.btn.mod_btn(type="submit", value="Submit") 

//- DELETE Receptionist in HSA
mixin deleteReceptionistHSA(userId)
    #deletereceptionisthsa.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='CLose_Delete_Receptionist_User()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Receptionist record? If you delete this Receptionist, its record will be permanently deleted from the system.
                h6.title(id='') Receptionist Fullname:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#full-name-in-modal(type="text" readonly value=fullname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.mod_btn_sec.me-3(type="button", onclick="CLose_Delete_Receptionist_User()") Cancel
                    input.btn.mod_btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.

//- CHANGE PASSWORD Rececptionist in HSA
mixin changeReceptionistHSA
    // Modal content for changeReceptionistHSA
    #changeReceptionistHSA.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Change Password
                button.btn-close.Rcloser(type='button' onclick='Close_ChangePass_Receptionist_User()' aria-label='Close')
            .modal-body.mb-3
                form(action='', method="POST")
                    label.col-form-label(for='old-password') Old Password:
                    .input-group.showpass
                        input#oldpasswordReceptionist.form-control(type='password' name='oldPassword')
                        .input-group-append
                            span#showoldPasswordToggleReceptionist.input-group-text.showpassicon
                                i#showoldPasswordIconReceptionist.fas.fa-eye-slash

                    label.col-form-label(for='new-password') New Password:
                    .input-group.showpass
                        input#newpasswordReceptionist.form-control(type='password' name='newPassword' pattern='.{8,}' title='Password must be at least 8 characters' required)
                        .input-group-append
                            span#shownewPasswordToggleReceptionist.input-group-text.showpassicon
                                i#shownewPasswordIconReceptionist.fas.fa-eye-slash  

                    label.col-form-label(for='confirm-password') Confirm Password:
                    .input-group.showpass
                        input#conpasswordReceptionist.form-control(type='password' name='confirmPassword')
                        .input-group-append
                            span#showconPasswordToggleReceptionist.input-group-text.showpassicon
                                i#showconPasswordIconReceptionist.fas.fa-eye-slash

                    // Error message element
                    p.mt-3.err#error-message-receptionist
                    div#Rerror-message.alert.alert-danger.mt-3(style="text-align:center")
                    
                    .modal-footer
                        button.btn.mod_btn_sec.me-3.RcloseModalBtn(type="button", onclick="Close_ChangePass_Receptionist_User()") Cancel
                        input.btn.mod_btn(type="submit", value="Submit")
                
                    script.
                        document.addEventListener('DOMContentLoaded', function() {
                            const RnewPasswordInput = document.getElementById('newpasswordReceptionist');
                            const RoldPasswordInput = document.getElementById('oldpasswordReceptionist');
                            const RconPasswordInput = document.getElementById('conpasswordReceptionist');
                            const RerrorMessage = document.getElementById('Rerror-message');
                            const RcloseModalBtn = document.querySelector('.RcloseModalBtn');
                            const RcloseBtn = document.querySelector('.Rcloser')

                            function RclearInputsAndMessage() {
                                RerrorMessage.textContent = '';
                                RerrorMessage.style.display = 'none';

                            }
                            RnewPasswordInput.addEventListener('input', function() {
                                if (RnewPasswordInput.validity.valid) {
                                    RerrorMessage.textContent = ''; // Clear error message
                                    RerrorMessage.style.display = 'none'; // Hide the error message
                                } else {
                                    RerrorMessage.textContent = 'Password must be at least 8 characters';
                                    RerrorMessage.style.display = 'block'; // Show the error message
                                }
                            });
                            RcloseModalBtn.addEventListener('click', RclearInputsAndMessage);
                            RcloseBtn.addEventListener('click', RclearInputsAndMessage);
                        });   

//- ADD Room Type
mixin addRoomType 
    #modal.modal  
            .modal-content
                .modal-header
                    h5.modal-title(id='') Add Room Type
                    button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
                .modal-body.mb-3 
                    form(method="POST" action="/roomtype/addRoomtype" enctype="multipart/form-data")
                        .form-group
                            label(for="roomtype") Room Type:
                            input.form-control(type="text", name="roomtype", title="Please enter a room type", required)

                        .form-group
                            label(for="description") Description:
                            textarea.form-control(name="description", rows = "4", title="Please enter a description", required)
                            
                        .form-group
                            label(for="price") Price:
                            input.form-control(type="number", name="price", min="0", required)

                        .form-group
                            label(for="capacity") Capacity:
                            input.form-control(type="number", name="capacity", min="0", required)

                        .form-group
                            label(for="rate_perhour") Rate per Hour:
                            input.form-control(type="number", name="rate_perhour", min="0", required)

                        .form-group
                            label(for="free_breakfast") Free Breakfast:
                            input.form-check-input(type="checkbox", name="free_breakfast")
                            label.form-check-label(for="free_breakfast") Include a Free Breakfast

                        .form-group
                            label(for="roomimage") Room Image:
                            input.form-control(type="file", name="roomimage", accept="image/*", onchange="previewImage(event)")
                            img#imagePreview(style="width: 100%; height: 100%;")
                        
                        //- ganto talaga indentation ng .modal-footer
                        .modal-footer.mt-3
                            a.btn.mod_btn_sec(href="/roomtype") Back
                            input.mod_btn(type="submit" class="btn btn-primary" value="Submit")

//- DELETE Room Type
mixin deleteRoomType(roomtype)
    #deleteroomtype.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteRoomType()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Room Type record? If you delete this Room Type, its record will be permanently deleted from the system.
                h6.title(id='') Room Type:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#room-type-in-modal(type="text" readonly value=roomnum)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.mod_btn_sec.me-3(type="button", onclick="closeDeleteRoomType()") Cancel
                    input.btn.mod_btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.

//- Edit Room Type
//- Edit Room Type
mixin editRoomType(typeid, roomtype, roomdescription, roomprice, roomcapacity, rateperhour, free_breakfast, roomimage)
  #editroomtype.modal
    .modal-content
      .modal-header
        h5.modal-title(id='') Edit
        button.btn-close(type='button' onclick='Close_Edit_RoomType()' aria-label='Close')
      .modal-body.mb-3
        form(action=`/roomtype/edit/${typeid}`, method="POST" , enctype="multipart/form-data")
                
            label.form-label.fw-bold(for="type") Room Type:
            input.form-control(type="text", name="roomtype", value=roomtype, required)

            label.form-label.fw-bold(for="description") Room Description:
            textarea.form-control(name="description", value=roomdescription, required)

            label.form-label.fw-bold(for="capacity") Room Capacity:
            input.form-control(type="text", name="capacity", value=roomcapacity, required)

            label.form-label.fw-bold(for="price") Room Price:
            input.form-control(type="text", name="price", value=roomprice, required)

            label.form-label.fw-bold(for="rateperhour") Rate per Hour:
            input.form-control(type="text", name="rate_perhour", value=rateperhour, required)

            label.form-label.fw-bold(for="rateperhour") Free Breakfast:
            input.form-check-input(type="checkbox", name="free_breakfast")
            label.form-check-label(for="free_breakfast") Included
            //- label.form-check-label(for="free_breakfast") Include Free Breakfast

            br
            label.form-label.fw-bold(for="roomimage") Room Image:
            input.form-control(type="file", name="roomimage", accept="image/*", onchange="previewImage(event)")

            .modal-footer
                button.btn.mod_btn_sec.me-3.closeAddModalBtn(type="button", onclick="Close_Edit_RoomType()") Cancel
                input.btn.mod_btn(type="submit", value="Submit")




//- ADD Room 
mixin addRoom
    #addRoom.modal  
            .modal-content
                .modal-header
                    h5.modal-title(id='') Add Room
                    button.btn-close(type='button' onclick='closeroomModal()' aria-label='Close')
                .modal-body.mb-3 
                    form(method="POST" action="/HSArooms ")
                        div#errorMessage(style='color: red; display: none;')
                        .form-group

                            label(for="roomnum") Room Number:
                            input.form-control(type="text", name="roomnum", pattern="[0-9]+", title="Please enter a valid room number", required)

                        .form-group
                            label(for="") Room Type:
                            select.form-select(id='roomtype', name='roomtype', required)
                                each r in roomTypesArray
                                    option(value=r.roomtype data-price=r.price data-capacity=r.capacity)= r.roomtype

                        .form-group
                            label(for="roomprice") Room Price:
                            input.form-control(type="number", name="roomprice", step="0.01", min="0", required, readonly) 
                            
                        .form-group
                            label(for="roomfloor") Room Floor:
                            input.form-control(type="number", name="roomfloor", min="1", required, readonly)

                        .form-group
                            label(for="capacity") Capacity:
                            input.form-control(type="number", name="capacity", min="0", required, readonly)

                        //- ganto talaga indentation ng .modal-footer
                        .modal-footer.mt-3
                            a.btn.mod_btn_sec(type='button' onclick='closeroomModal()' aria-label='Close') Back
                            input.mod_btn(type="submit" class="btn btn-primary" value="Submit")
                    
                    //- javaScript code to automatically populate and disable price and capacity based on roomtype
                        script.
                            document.addEventListener('DOMContentLoaded', function() {
                                const roomTypeSelect = document.querySelector('select[name="roomtype"]');
                                const roomPriceInput = document.querySelector('input[name="roomprice"]');
                                const capacityInput = document.querySelector('input[name="capacity"]');
                                const roomNumInput = document.querySelector('input[name="roomnum"]');
                                const roomFloorInput = document.querySelector('input[name="roomfloor"]');

                                roomNumInput.addEventListener('input', function() {
                                    // Get the first character of the room number
                                    const firstDigit = this.value.charAt(0);
                                    
                                    // Populate and disable the roomfloor input
                                    roomFloorInput.value = firstDigit;
                                })
                                
                                // Function to update the price and capacity inputs
                                function updatePriceAndCapacity() {
                                    // Get the selected option
                                    const selectedOption = roomTypeSelect.options[roomTypeSelect.selectedIndex];
                                    
                                    // Update the price and capacity inputs
                                    roomPriceInput.value = selectedOption.getAttribute('data-price');
                                    capacityInput.value = selectedOption.getAttribute('data-capacity');
                                }
                                
                                // Update the price and capacity inputs when the page loads
                                updatePriceAndCapacity();
                                
                                // Update the price and capacity inputs when the room type changes
                                roomTypeSelect.addEventListener('change', updatePriceAndCapacity);
                            });
                    
                   

//- DELETE Room
mixin deleteRoom(roomnum)
    #deleteroom.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeleteRoom()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Room record? If you delete this Room, its record will be permanently deleted from the system.
                h6.title(id='') Room Number:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#room-num-in-modal(type="text" readonly value=roomnum)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.mod_btn_sec.me-3(type="button", onclick="closeDeleteRoom()") Cancel
                    input.btn.mod_btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.



mixin approvalcode 
    #modal.modal  
        .modal-content
            .modal-header
                h5.modal-title(id='') Approval Code
                button.btn-close(type='button' onclick='closeModal()' aria-label='Close')
            .modal-body.mb-3 
                form(id="", action=`/ga/cardpayment/${ga.accountid}`, method="POST")

                    input(type="hidden" id="subtotal2" name="subtotal2")
                    input(type="hidden" id="totalamount2" name="totalamount2")
                    input(type="hidden" id="paidtodate2" name="paidtodate2")
                    input(type="hidden" id="balance2" name="balance2")
                    input.form-control(type="text", id="approvalcode", name="approvalcode", required)

                    script.
                        document.addEventListener('DOMContentLoaded', ()=>{
                            
                            const subtotal = parseInt(document.querySelector('#subtotal').innerText)
                            document.querySelector('#subtotal2').value = subtotal

                            const totalamount = parseInt(document.querySelector('#totalamount').innerText)
                            document.querySelector('#totalamount2').value = totalamount

                            const paidtodate = parseInt(document.querySelector('#paidtodate').innerText)
                            document.querySelector('#paidtodate2').value = paidtodate

                            const balance = parseInt(document.querySelector('#balance').innerText)
                            document.querySelector('#balance2').value = balance
                        })

                    //- ganto talaga indentation ng .modal-footer
                    .modal-footer.mt-3
                        button.btn.mod_btn_sec(type="button", onclick="closeModal()") Cancel
                        input.btn.mod_btn(type="submit", value="Submit")

//- DELETE Promo
mixin deletePromo(roomnum)
    #deletepromo.modal
        .modal-content
            .modal-header
                h5.del.modal-title(id='') Delete
                button.btn-close(type='button' onclick='closeDeletePromo()' aria-label='Close')
            .modal-body
                p.mb-3
                    | Are you sure you want to delete this Promo record? If you delete this Promo, its record will be permanently deleted from the system.
                h6.title(id='') Promo Name:
                .text-center
                    //- Use an input element of type "text" to display the hotel name
                    input.form-control#promo-name-in-modal(type="text" readonly value=pname)
                
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
            .modal-footer.mt-3
                form#delete-user-form(action='', method="POST")
                    button.btn.mod_btn_sec.me-3(type="button", onclick="closeDeletePromo()") Cancel
                    input.btn.mod_btn(type="submit" value="Delete" onclick="confirmDelete()")
                    p.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before deleting.




//- extendStay
mixin extendStay(ga) 
    #extendStay.modal 
        .modal-content.text-dark
            form(action='' method='POST' id='extendStayForm') 
                .modal-header
                    h5.text-center Extend Stay
                    button.btn-close(type='button' onclick='closeExtendStay()' aria-label='Close')
                .modal-body
                    .row
                        .col-4 
                            p.fw-bold Account ID
                            p.fw-bold Account Name
                            p.fw-bold Room Number
                            p.fw-bold Room Type
                            p.fw-bold Extension Rate
                        .col-8
                            p.fw-normal#accountidSpan
                            p.fw-normal#fullnameSpan
                            p.fw-normal#roomnumSpan
                            p.fw-normal#roomtypeSpan
                            p.fw-normal#rate_perhourSpan
                    .mt-4
                        input(type="hidden" id="rate_perhour" name="rate_perhour")
                        input(type="hidden" id="roomid" name="roomid")
                        input(type="hidden" id="folioid" name="folioid")
                        label.form-label.fw-bold Number of Hours 
                        input.form-control(
                            type="number" 
                            id="hoursno" 
                            name="hoursno" 
                            onkeyup="updateCost(this)"
                        )
                    .mt-2
                        label.form-label.fw-bold Cost
                        input.form-control(
                            type="number" 
                            id="cost" 
                            name="cost"
                        )
                    script.
                        function updateCost(clickedElement){
                            //- get rate_perhour and hoursno
                            const rate_perhour = clickedElement.getAttribute('data-rate_perhour')
                            const hoursno = clickedElement.value

                            //- calculation
                            const cost = rate_perhour * hoursno
                            const costFinal = cost.toFixed(2)

                            //- assign cost
                            document.getElementById('cost').value = costFinal
                        }
                .modal-footer
                    button.btn.mod_btn_sec(type='button' onclick='closeExtendStay()') Cancel
                    input.btn.mod_btn(type='submit' value='Submit')

//- Cash Payment
mixin cashpay()
    #modalcash.modal
        .modal-content
            .modal-header
                h5.modal-title(id='') Cash Payment
                button.btn-close(type='button' onclick='closeModalcash()' aria-label='Close')
            .modal-body
                p.mb-3
                    | This is a Cash payment Method
                .form-check.mt-3
                    input.form-check-input#confirm-checkbox(type="checkbox")
                    label.form-check-label(for="confirm-checkbox") I Agree
                    
            .modal-footer.mt-3.modalcash
                form(action='', method="POST")
                    .ms
                        button.btn.mod_btn_sec.me-3(type="button", onclick="closeModalcash()") Cancel
                        input.btn.mod_btn(type="submit" value="Proceed" onclick="confirmDelete()")
                    p.err.mt-3#checkbox-error-message(style="color: red; display: none;") Please check the checkbox before Proceeding.


