doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Hotels
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet')
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/navigation.css')
    link(rel='stylesheet', href='/css/hotel.css')
    link(rel='stylesheet', href='/css/modal.css')

  body
    include ../../partials/navSA.pug

    .content
      // Header Title for page
      .row
        .col-8.d-flex.align-items-center
          h2.text Hotels
        .col-4.d-flex.align-items-center.justify-content-end
          a.btn( onclick="openModal()" role='button') Add Hotel
          include ../../mixins/modals.pug
          +addhotel

        each h in allHotelsArray
          
            //- card
            .col-12.col-md-12.col-lg-3.mt-4
              .card.bg-white.line-height.shadow
                .card-body.text-dark
                  .img-area.mb-4
                    if h.hotellocation
                      img.img-fluid.hotel-img(src=`${h.hotellogo}` alt='Hotel Image')
                  h4.hotel-name.mb-4
                    span #{h.hotelname}
                  if h.hotellocation
                    h6.hotel-location.mb-3
                        | Location: 
                        span #{h.hotellocation}
                  if h.hotelcontact      
                    h6.hotel-number.mb-3
                        | Contact Number: 
                        span #{h.hotelocantact}
                  if h.hotelemail      
                    h6.hotel-email.mb-3
                        | Email: 
                        span #{h.hotelemail}
                .card-footer.pb-3.pt-3
                  .d-flex.justify-content-end
                      a.delete-icon(data-hotelid=h.hotelid data-hotelname=h.hotelname onclick="openDeleteHotelModal(this)" role='button')
                        i.fa-solid.fa-trash-can.fa-xl
                      include ../../mixins/modals.pug
                      +deletehotel(h.hotelid)
                      //-a.delete-icon(data-bs-toggle='modal' href='' role='button' name='_method')
                        i.fa-solid.fa-trash-can.fa-xl
                        //asas
                      
                  //- card end

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    script(src='/js/modal.js') 
    script(src='/js/nav-active.js') 
    