doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')    
    
    //-Table
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')

    link(rel='stylesheet', href='/css/modal.css')
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/action_button.css')
    link(rel='stylesheet', href='/css/table.css')
    link(rel='stylesheet', href='/css/card.css')

    title Inactive Promos

    //- sa head lagi nakalagay ang color.pug
    include ../../partials/color.pug
  
  body
    include ../../partials/navHSA.pug

    .content
        
        //- Header Title for page
        .container
            .row
                h2.text Inactive Promos
            
            include ../../partials/navHSApd.pug

            each x in allPromosArray
                .bg-white.shadow.mt-4.mx-0.ps-0.row
                    .row.col-3.mx-0.p-0(style="max-width: 300px")
                        if x.poster
                            img(src=`${x.poster}` alt='Poster')

                    .row.col-9.px-5.pt-5
                        .row
                            .col-7.d-flex.flex-column.justify-content-start
                                if x.code
                                    p.text-black-50.fw-bold #{x.code}
                                if x.name      
                                    p.fw-bold #{x.name}
                                if x.description      
                                    p #{x.description}
                            .col-5.d-flex.flex-column.justify-content-start
                                p.fw-bold Available On: <br>
                                    .row 
                                        .col-6
                                            input.form-check-input.me-2#isavailable_mon(type='checkbox' name='isavailable_mon' checked=x.isavailable_mon disabled)
                                            label.form-label.d-inline(for='isavailable_mon') Monday 
                                            br

                                            input.form-check-input.me-2#isavailable_tues(type='checkbox' name='isavailable_tues' checked=x.isavailable_tues disabled)
                                            label.form-label.d-inline(for='isavailable_tues') Tuesday 
                                            br

                                            input.form-check-input.me-2#isavailable_wed(type='checkbox' name='isavailable_wed' checked=x.isavailable_wed disabled)
                                            label.form-label.d-inline(for='isavailable_wed') Wednesday 
                                            br

                                            input.form-check-input.me-2#isavailable_thurs(type='checkbox' name='isavailable_thurs' checked=x.isavailable_thurs disabled)
                                            label.form-label.d-inline(for='isavailable_thurs') Thursday 
                                            br
                                        .col-6
                                            input.form-check-input.me-2#isavailable_fri(type='checkbox' name='isavailable_fri' checked=x.isavailable_fri disabled)
                                            label.form-label.d-inline(for='isavailable_fri') Friday
                                            br

                                            input.form-check-input.me-2#isavailable_sat(type='checkbox' name='isavailable_sat' checked=x.isavailable_sat disabled)
                                            label.form-label.d-inline(for='isavailable_sat') Saturday
                                            br

                                            input.form-check-input.me-2#isavailable_sun(type='checkbox' name='isavailable_sun' checked=x.isavailable_sun disabled)
                                            label.form-label.d-inline(for='isavailable_sun') Sunday
                        hr
                        .d-flex.justify-content-between
                            if x.discount      
                                p.fw-bold Discount: <br>
                                    span.fw-normal #{x.discount}
                            if x.roomtype      
                                p.fw-bold Room Type: <br>
                                    span.fw-normal #{x.roomtype}
                            if x.startdate      
                                p.fw-bold Start Date: <br>
                                    span.fw-normal #{x.startdate}
                            if x.enddate      
                                p.fw-bold End Date: <br>
                                    span.fw-normal #{x.enddate}     
                            p.fw-bold Times Availed: <br>
                                span.fw-normal #{x.timesavailed}
                            
                            .d-flex
                                a.sa-icon.sa-edit.me-2(href=`/pd/edit/${x.id}`)
                                    i.fa-solid.fa-pen-to-square.fa-lg
                                a.delete-icon(data-pid=x.id data-pcode=x.code data-pname=x.name onclick="openDeletePromo(this)" role='button')
                                    i.fa-solid.fa-trash-can.fa-xl
                                include ../../mixins/modals.pug
                                +deletePromo(x.id)  
                                //-
                                    form(action=`/pd/delete/${x.id}` method='POST')
                                        input(type='submit' value='Delete')

                        //- .card-footer.pb-3.pt-3
                        //- .d-flex.justify-content-end
                        
                        //- //button
                        //-   a(href=`/roomtype/edit/${r.typeid}`) Edit
                        //- //- Edit
                        //- a.sa-icon.sa-edit(data-typeid=r.typeid data-roomtype=r.roomtype data-roomdescription=r.description data-roomprice=r.price 
                        //-  data-roomcapacity=r.capacity data-roomimage=r.roomimage
                        //-  onclick="Edit_RoomType(this)" role='button')
                        //-   i.fa-solid.fa-pen-to-square.fa-lg  
                        //- include ../../mixins/modals.pug
                        //- +editRoomType(r.typeid)  
                        //- //-Delete
                        //- a.delete-icon(data-typeid=r.typeid data-roomtype=r.roomtype  onclick="openDeleteRoomType(this)" role='button')
                        //-   i.fa-solid.fa-trash-can.fa-xl
                        //- include ../../mixins/modals.pug
                        //- +deleteRoomType(r.typeid)
                        
                        //- card end

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    script(src='/js/modal.js') 
    script(src='/js/room_nav.js') 
    script(src='/js/nav-active.js') 
    script(src='/js/imgpreview.js')  
      