doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //- bootstrap css and js
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    
    //- custom css
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/modal.css')
    
    //- color.pug
    include ../../partials/color.pug

    title Edit Profile


  body
    include ../../partials/navFDM.pug
    .content
      // Header Title for page
      .row
        .col-8.d-flex.align-items-center
          h2.text Edit Profile

        form(action=`/profile`, method="POST")
          label.form-label(for='hotelcolor') Color Theme
          select(id='hotelcolor', name='hotelcolor')
            option(value=h.hotelcolor)= h.hotelcolor
            each c in colorStacksArray
              option(value=c.color)= c.color
          hr  
          
          label(for="hotelname") Hotel Name:
          input(type="text", id="hotelname", name="hotelname", value=`${h.hotelname ? h.hotelname : ''}`, required)
          br
          br

          label(for="hotellocation") Hotel Location:
          input(type="text", id="hotellocation", name="hotellocation", value=`${h.hotellocation ? h.hotellocation : ''}` required)
          br
          br

          label(for="hotelcontact") Hotel Contact:
          input(type="text", id="hotelcontact", name="hotelcontact", value=`${h.hotelcontact ? h.hotelcontact : ''}` required)
          br
          br

          label(for="hotelemail") Hotel Email:
          input(type="email", id="hotelemail", name="hotelemail", value=`${h.hotelemail ? h.hotelemail : ''}` required)
          br
          br

          input(type="submit", value="Submit")


    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    script(src='/js/modal.js') 
    script(src='/js/nav-active.js')  