doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //- bootstrap css and js
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    
    //- custom css
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/modal.css')

    //- color.pug
    include ../../partials/color.pug

    title Profile


  body
    include ../../partials/navHSA.pug

    .content
      // Header Title for page
      .row
        .col-8.d-flex.align-items-center

        if h.hotelimage 
          img(src=`${h.hotelimage}`, height="300" alt="")
        hr

        if hotelColor
          h3 Color Theme: 
            span #{hotelColor.color}
        hr

        if h.hotellocation
          p Location: 
            span #{h.hotellocation}
        if h.hotelcontact
          p Contact Number: 
            span #{h.hotelcontact}
        if h.hotelemail
          p Email: 
            span #{h.hotelemail}
        
        button 
          a(href="/profile/editprofile") Edit

    //- bootstrap js
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    
    //- fontawesome
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')

    //- custom js
    script(src='/js/modal.js') 
    script(src='/js/nav-active.js')  