doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//code.jquery.com/jquery-1.11.1.min.js')
    link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')

    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/navigation.css')
    link(rel='stylesheet', href='/css/action_button.css')
    link(rel='stylesheet', href='/css/table.css')
    link(rel='stylesheet', href='/css/card.css')

    title Revenue Report

    //- sa head lagi nakalagay ang color.pug
    include ../../partials/color.pug
  
  body
    include ../../partials/navHSA.pug

    .content
        .container
            h2 Report Overview
            .row.mt-4
                //- column
                .col 
                    //- card
                    .card.bg-success.shadow.text-white.text-center 
                        .card-body
                            h3 #{totalRevenue.toFixed(2)}
                            p.lead Total Revenue

                //- column
                .col 
                    //- card
                    .card.bg-warning.shadow.text-center 
                        .card-body
                            h3 #{roomTypeCount}
                            p.lead Room Type Count

                //- //- column
                //- .col 
                //-     //- card
                //-     .card.bg-danger.shadow.text-white.text-center 
                //-         .card-body
                //-             h3 0
                //-             p.lead Lorem
            
            .d-flex.justify-content-between.align-items-center.mt-5
                .col 
                    h2 Revenue by Room Type

                form(id="promoFilterForm" action="")
                    .d-flex
                        .row.g-3.align-items-center
                            .col-auto
                                label.col-form-label Range
                            .col-auto
                                select.form-select.form-select-sm(id='range')
                                    option(value="Daily" id='dailyOption') Daily
                                    option(value="Weekly") Weekly
                                    option(value="Monthly") Monthly
                                    option(value="Yearly") Yearly

                //- .col.text-end
                //-     a(href="#" id="downloadAnchor") 
                //-         h2.fa-solid.fa-download
            .row.mt-4.p-3.bg-white.shadow
                table.table.table-borderless.text-dark(style="font-size:0.9rem!important")
                    tbody
                        each rt in roomtypeArray
                            - var revenuePerRT = 0
                            tr.real-bg
                                td.fw-bold(colspan=5) #{rt.roomtype}
                            tr 
                                td(style="width: 200px;")
                                td.fw-bold Account ID
                                td.fw-bold Guest Name
                                td.fw-bold Check-Out Date
                                td.fw-bold Revenue

                            each data in dataArray
                                if(rt.roomtype == data.roomtype) 
                                    - revenuePerRT += parseFloat(data.paid)
                                    tr 
                                        td 
                                        td #{data.accountid}
                                        td #{data.fullname}
                                        td #{data.checkoutdate}
                                        td #{data.paid}
                            tr.real-bg
                                td.fw-bold(colspan=4) Total 
                                td.fw-bold #{revenuePerRT.toFixed(2)}
                        tr 
                            td.fw-bold(colspan=5) Summary
                        tr
                            td 
                            td 
                            td
                            td.fw-bold Total Revenue 
                            td.fw-bold #{totalRevenue.toFixed(2)}
                        
            

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/72e773f6c0.js' crossorigin='anonymous')
    script(src='/js/nav-active.js')
    script(src='/js/reports/revenuefilter.js')